.body {
    display: flex;
    height: 100vh;
    position: relative;
}

.describe-content {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.describe-content>.titulo {
    margin-left: 40px;
    color: #ffff;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
}

.describe-content>.texto {
    margin-left: 40px;
    width: 80%;
    color: #ffff;
    font-weight: 200;
    text-align: start;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.botoes {
    display: flex;
}

.botao-home {
    width: 160px;
    color: #ffff;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 100;
    margin-top: 30px;
    font-size: 1.2rem;
    margin-left: 40px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Roboto';
    background-color: #0e0e22;
    transition: .5s ease-in-out;

}

.botao-home:hover {
    color: #ffffff81;
    background-color: #1f1f4b;
}

.contaienr-imagem {
    width: 50%;
    margin-top: 100px;
    position: relative;
}

.contaienr-imagem>.estudante {
    left: 0;
    max-width: 500px;
    position: absolute;
    margin-top: 130px;
    z-index: 2;
}

.contaienr-imagem>.background {
    left: 0;
    max-width: 500px;
    border-radius: 10%;
    position: absolute;
}